@charset "UTF-08";

@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: Arial, Times, sans-serif;
    background-color: rgba(132,224,173,255);
}

header {
    height: 200px;
    background-image: linear-gradient(to top, #1a5736 80%, #3ace80);
    background-attachment: fixed;
    box-shadow: 3px 5px 7px 0px rgba(0, 0, 0, 0.315);
}

header > nav {
    margin: 10px;
    padding-top: 35px;
    width: 500px;
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 30px;
    text-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.253);
}

nav > a:hover {
    text-decoration: underline;
}

article {
    background-color: rgb(255, 255, 255);
    width: 1450px;
    margin: auto;
    box-shadow: 3px 5px 7px 0px rgba(0, 0, 0, 0.315);
}

article#sec {
    background-color: #1a5c38;
    width: 1450px;
    height: 700px;
    margin: auto;
    box-shadow: 3px 5px 7px 0px rgba(0, 0, 0, 0.315);
    padding-top: 0.5px;
}

article#terc {
    background-color: rgb(255, 255, 255);
    width: 1450px;
    margin: auto;
    box-shadow: 3px 5px 7px 0px rgba(0, 0, 0, 0.315);
    border-radius: 0px 0px 6px 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

div{
    background-color: #c5ebd6;
    width: 1420px;
    margin: auto;
    padding: 3px 0px 3px 0px;
}

footer {
    background-color: rgba(26,92,57,255);
    padding: 10px;
    margin: 0px;
    color: white;
    text-align: center;
    margin: auto;
    box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.253);
}

footer > a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

footer > a:hover {
    text-decoration: underline;
}

h1{
    text-align: center;
    color: white;
    margin-top: 0px;
    padding: 20px;
}

h1#h1secundario {
    color: #277e50;
    font-family: 'Idroid', Times, serif;
    text-align: left;
    font-size: 30px;
}

h2 {
    text-align: left;
    color: #298554;
    margin-left: 15px;
    background-color: #e5f6ec;
    padding-left: 10px;
    font-family: 'Idroid', Times, serif;
}

h2#section {
    font-family: Arial, Times, sans-serif;
    background-color: #2fa865;
    color: white;
    padding: 10px;
    width: 1400px;
    border-radius: 6px 6px 0px 0px;
}

h4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

p {
    text-align: justify;
    margin: 15px;
}