@charset "UTF-8";

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: rgb(20, 97, 241);
}

h1#principal {
    text-align: center;
    color: white;
    background-color: rgb(20, 97, 241);
}

h2 {
    color: rgb(67, 125, 235);
}

.modulo1 {
    color: rgb(22, 161, 115);
    font-weight: bold;
}

.modulo2{
    color: rgb(86, 187, 153);
    font-weight: bold;
}